*/1 * * * * cd /app && python manage.py fetch_tv_shows --settings=core.settings_prod
*/1 * * * cd /app && python manage.py manage_tx_queue --settings=core.settings_prod
# Don't remove the empty line at the end of this file. It is required to run the cron job